<div *ngIf="devices" class="divide-y divide-base-300">
    <form
        [formGroup]="dynamicSelectForm"
        #formDir="ngForm"
        class="overflow-auto w-[100%] max-h-[430px] min-h-[430px] p-6"
    >
        <div>
            <h2 class="font-semibold mb-2 pl-3">Device Categories</h2>
            <ag-grid-angular
                class="w-3/5 h-[300px]"
                [class]="themeClass"
                [rowData]="categoryRows"
                [columnDefs]="columnDefs"
                [getRowId]="getRowId"
                [rowSelection]="rowSelection"
                [rowMultiSelectWithClick]="true"
                (gridReady)="onGridReady($event)"
            >
            </ag-grid-angular>
        </div>
        <br />
        <hr />
        <br />
        <div>
            <h2 class="font-semibold mb-2 pl-3">Hosts</h2>
            <p class="mb-2 pl-5 font-light text-sm">Host / System / NetBIOS Names (* and ? are wildcards)</p>
            <textarea
                class="textarea textarea-bordered w-3/5"
                [ngClass]="{
                    'textarea-error': hostSelection.invalid
                }"
                placeholder="joe.desktop23, Foo.Bar"
            ></textarea>
            <div *ngIf="hostSelection.invalid" role="alert" class="alert alert-error w-3/5">
                Invalid Host selection.
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div>
            <h2 class="font-semibold mb-2 pl-3">IP Ranges</h2>
            <p class="mb-2 pl-5 font-light text-sm">IP Addresses / Ranges / Subnets</p>
            <textarea
                class="textarea textarea-bordered w-3/5 form-control"
                [ngClass]="{
                    'textarea-error': ipSelection.invalid
                }"
                formControlName="ipSelection"
                placeholder="127.0.0.1-127.0.0.5, 128.0.0.1"
                id="ipSelection"
            ></textarea>
            <div *ngIf="ipSelection.invalid" role="alert" class="alert alert-error w-3/5">
                Invalid IP Address selection.
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div>
            <h2 class="font-semibold mb-2 pl-3">VLANS</h2>
            <p class="mb-2 pl-5 font-light text-sm">VLAN Names / Indexes (* and ? are wildcards)</p>
            <textarea
                class="textarea textarea-bordered w-3/5"
                [ngClass]="{
                    'textarea-error': vlanSelection.invalid
                }"
                placeholder="foo-bar.main, Buzz.HQ"
            ></textarea>
            <div *ngIf="vlanSelection.invalid" role="alert" class="alert alert-error w-3/5">
                Invalid VLAN selection.
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div>
            <h2 class="font-semibold mb-2 pl-3">OIDs</h2>
            <p class="mb-2 pl-5 font-light text-sm">SNMP OIDs / Object Identifiers (* and ? are wildcards)</p>
            <textarea
                class="textarea textarea-bordered w-3/5"
                [ngClass]="{
                    'textarea-error': oidSelection.invalid
                }"
                placeholder="1.3.5.123, 2.16.840.1.113883.3.3190.100"
            ></textarea>
            <div *ngIf="oidSelection.invalid" role="alert" class="alert alert-error w-3/5">Invalid OID selection.</div>
        </div>
    </form>
    <div class="flex flex-row basis-1/6 p-3 px-9" [hidden]="devices.length === 0">
        <button (click)="confirmSelection()" class="bg-blue-500 text-white py-2 px-4 rounded mx-2 mt-1">
            Confirm Selection
        </button>
    </div>
</div>
