<div *ngIf="displayEdge; else loadingView">
    <div class="flex flex-col min-w-screen min-h-screen bg-gray-50">
        <!-- Header -->
        <h1 class="border-b text-lg font-bold text-gray-500 px-6 py-2">Link Details</h1>
        <!-- Body -->
        <div class="p-4" *ngIf="numMembers > 0; else noDeviceLinkMembers">
            <div class="bg-white overflow-x-auto shadow-lg rounded-lg m-2 p-6">
                <table class="table table-auto">
                    <thead>
                        <tr>
                            <th
                                class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                                *ngFor="let col of COLUMNS"
                            >
                                {{ col }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let link of displayEdge?.deviceLinks">
                            <tr *ngFor="let linkMember of link?.linkMembers">
                                <td class="px-4 py-2">{{ linkMember.deviceName }}</td>
                                <td class="px-4 py-2">{{ linkMember.ifIndex }}</td>
                                <td class="px-4 py-2">{{ linkMember.ifName }}</td>
                                <td class="px-4 py-2">{{ linkMember.connectedDevice }}</td>
                                <td class="px-4 py-2">{{ linkMember.connectedIfIndex }}</td>
                                <td class="px-4 py-2">{{ linkMember.connectedIfName }}</td>
                                <td class="px-4 py-2">{{ linkMember.linkType }}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #noDeviceLinkMembers>
    <div id="noDeviceLinkMembers" class="flex justify-center items-center h-32">
        <span class="text-gray-500">No device link members found.</span>
    </div>
</ng-template>

<ng-template #loadingView><span class="loading loading-spinner loading-lg"></span></ng-template>
