<div *ngIf="deviceDetails">
  <h1>{{ deviceDetails.displayName }}</h1>

  <div *ngFor="let infoset of deviceDetails.infoSets">
    <div tabIndex="0" class="collapse collapse-arrow">
      <div class="collapse-title text-xl font-medium">
        {{ infoset.title }}
      </div>

      <div class="collapse-content">
        <div class="overflow-x-auto">
          <table class="table">
            <thead>
              <tr>
                <div *ngFor="let col of infoset.columns">
                  <th>{{ col.header }}</th>
                </div>
              </tr>
            </thead>

            <tbody>
              <div *ngFor="let entry of infoset.entries">
                <tr>
                  <div *ngFor="let val of entry.values">
                    <td>{{ val.value }}</td>
                  </div>
                </tr>
              </div>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
