<div id="devicesComponent" *ngIf="devices.length > 0">
  <ag-grid-angular
    style="width: 100%; height: 550px"
    [class]="themeClass"
    [rowData]="devices"
    [columnDefs]="columnDefs"
    [getRowId]="getRowId"
    [rowSelection]="rowSelection"
    [rowMultiSelectWithClick]="true"
    (gridReady)="onGridReady($event)"
    (rowDataUpdated)="onRowDataUpdated($event)"
  >
  </ag-grid-angular>
  <button
    (click)="selectDevices()"
    class="bg-blue-500 text-white py-2 px-4 rounded mx-2 mt-1"
    [hidden]="devices.length === 0"
  >
    Select Devices
  </button>

  <button
    (click)="changeSettings()"
    class="bg-gray-400 text-white py-2 px-4 rounded mx-2 mt-1"
    [hidden]="devices.length === 0"
  >
    Change Settings
  </button>
</div>
<app-settings></app-settings>
