<div id="devicesComponent" [hidden]="!checkDevicesLength()">
    <ag-grid-angular
        style="width: 100%; height: 550px"
        [class]="themeClass"
        [rowData]="devices"
        [autoSizeStrategy]="autoSizeStrategy"
        [columnDefs]="columnDefs"
        [getRowId]="getRowId"
        [rowSelection]="rowSelection"
        [rowMultiSelectWithClick]="true"
        (gridReady)="onGridReady($event)"
        (rowDataUpdated)="onRowDataUpdated($event)"
        (rowSelected)="onRowSelected()"
    >
    </ag-grid-angular>
    <div class="flex flex-row">
        <button
            (click)="selectDevices()"
            class="text-white py-2 px-4 rounded mx-2 mt-1"
            [hidden]="devices.length === 0"
            [ngClass]="{'bg-gray-500': !selectDevicesButtonEnabled,
                        'bg-blue-500': selectDevicesButtonEnabled}"
            [disabled]="!selectDevicesButtonEnabled"
        >
            Select Devices
        </button>
        <button
            (click)="changeSettings()"
            class="bg-gray-400 text-white py-2 px-4 rounded mx-2 mt-1"
            [hidden]="devices.length === 0"
        >
            Change Settings
        </button>
    </div>
</div>
<app-settings></app-settings>
